<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>001</title>
</head>
<body>
    <table>
        <!-- thymeleaf 방식으로 데이터를 셋하는 코드 - controller에서 model로 직렬화 된 데이터 전달 -->
        <thead>
            <th>아이디</th>
            <th>이름</th>
        </thead>
        <tbody>
            <tr th:each="userList : ${list}">
                <td th:text="${userList.user_id}"></td>
                <td th:text="${userList.name}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>