<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>003</title>
</head>
<body>
    <!-- 클라이언트에서 데이터를 가지고 가서, 서블릿에서 데이터를 보여주기 위한 코드 -->
    <table>
        <!-- thymeleaf 방식으로 데이터를 셋하는 코드 - controller에서 model로 직렬화 된 데이터 전달 -->
        <thead>
        <th>아이디</th>
        <th>이름</th>
        </thead>
        <tbody>
        <tr th:each="userList : ${list}">
            <td th:text="${userList.user_id}"></td>
            <td th:id="nameId + ${userList.idx}" th:text="${userList.name}"></td>
        </tr>
        </tbody>
    </table>

    <button type="button" onclick="clickTodata()">Send Data</button>

    <script>
        var xhr = new XMLHttpRequest();

        var userListArray = [];
        var strName;
        
        function clickTodata() {

            for (var i = 0; i < 10; i++) {
                var userIdName = "nameId" + (i+1);

                // ID가 존재하는지 Check
                if(document.getElementById(userIdName)) {
                    strName = document.getElementById(userIdName).textContent;
                    userListArray[i] = strName;
                    strName = null;
                } else {
                    break;
                }
            }
            console.log("userListArray : ", userListArray);

            // JSON.stringify : JS 객체를 JSON 문자열로 ! - 직렬화 한다.
            var JSONData = JSON.stringify(userListArray);

            xhr.open("POST", "/test003Servlet", true);
            xhr.send(JSONData);
        }



    </script>
</body>
</html>